h1{
    text-align: center;
}

.outer-container{
    margin-top: 100px;
}

.game-container{
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: center;
}

.board-piece{
    
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    line-height: 90px;
    border: 3px solid #000;
}